/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: #605DFF;
  --primary-light: #E6E5FF;
  --secondary: #DFE6EE;
  --secondary-background: #F4F6F9;
  --secondary-text: #2E5A8C;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

 /* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* original background */

.Timeline-Works ol {
  list-style-type: none;
  position: relative;
}

.Timeline-Works li {
  position: relative;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.transition-all {
  transition: all 0.3s ease; /* Puedes ajustar la duración según tus preferencias */
}